<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center"style="background-color: #FF9D6F;">
      <h1>Mission to Mars</h1>
      <p>News. Facts. Images.</p>
      <p><a class="btn btn-primary btn-lg" href ="/scrape" role="button">Get Data!</a></p>
    </div>
  </div>
</body>

<body>

<!-- Mars News -->
<div class="container-fluid"> 
  <div class="row" style="background-color: #FFDDCD;">

    <div class="col-md-6" style="padding: 5%;">
      <h2>Latest Mars News:</h2>
      <h3>{{ mars.news_title }}</h3>
      <p>{{ mars.news_paragraph }}</p>
    </div>

    <div class="col-md-6 text-center">
      <h2>Featured Mars Image:</h2>
      <img src="{{ mars.featured_image }}" style="width: 300px; height: 300px;">
    </div>

  </div>
</div>

<!-- Mars Facts Table -->
<!-- <div class="container-fluid">
  <div class="row" style="background-color: #FF9E76;">
    <div class="col-md-6" style="padding-left: 3%;">
      <h2>Mars Facts</h2>
     
      <p>{{ mars.mars_facts | safe }}</p>
    </div>
  </div> 
</div> -->

<div class="container-fluid">
  <div class="row" style="background-color: #FF9E76;">
    <div class="col-md-6" style="padding-left: 3%;">
      <h2>Mars Facts</h2>
     
      <p>{{ mars.mars_facts | safe }}</p>
    </div>
  </div> 
</div>




<!-- Mars Hemispheres -->
<div class="container-fluid" style="background-color: #99857A;">
<div class="row">
  <h1 class="text-center">Mars Hemispheres</h1>
  <br>
{% for hemisphere in mars.hemispheres %}
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="{{ hemisphere.img_url }}">
          <div class="caption">
            <h4 class="card-title text-center">{{ hemisphere.title }}</h4>
          </div>
      </div>
    </div>
    
{% endfor %}
</div>
</div>

</body>

</html>